body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container{
  margin: auto;
  width: 500px;
  height: 350px;
  font-size: 20px;
  background-color: white;
  margin-top: 200px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input{
 
  width: 250px;
  height: 38px;
  margin-right: 60px;
  margin-bottom: 20px;
}

#add{
  width: 100px;
  font-size: 20px;
  background-color: brown;
  color: white;
  height: 40px;
}

#del{
  width: 80px;
  height: 35px;
  margin: 10px;
  margin-left: 400px;
  font-size: 20px;
  background-color: red;
}

.page{
  width: 100px;
  font-size: 20px;
  color: white;
  background-color: blue;
  margin-left: 80px;
}
